<div id="sidebar-menu" class="scrollable-content">
    <ul>
        <li>
            <a href="/main" title="Main">
                <i class="glyph-icon icon-chevron-right"></i> 首页
            </a>
            <a href="/userManagement" title="userManagement">
                <i class="glyph-icon icon-chevron-right"></i> 用户管理
            </a>
            <a href="/accountManagement" title="accountManagement">
                <i class="glyph-icon icon-chevron-right"></i> 账号管理
            </a>
        </li>
    </ul>
</div>