<!-- AUI Framework -->
<!DOCTYPE html>
<html>

<head>
    <% include ../../../../../views/head %>
</head>

<body class="fixed-sidebar fixed-header">
    <div id="vueAccountMge">
        <div id="loading" class="ui-front loader ui-widget-overlay bg-white opacity-100">
            <img src="./images/loader-dark.gif" alt="">
        </div>

        <div id="page-wrapper" class="demo-example">
            <div id="page-sidebar">
                <% include ../../../../../views/header %>
                    <% include ../../../../../views/menu %>
            </div>
            <!-- #page-sidebar -->

            <div id="page-main">
                <!-- 主页头 -->
                <div id="page-main-wrapper">
                    <div id="page-header" class="clearfix">
                        <div id="page-header-wrapper" class="clearfix">
                            <div class="top-icon-bar dropdown">
                                <a href="javascript:;" title="" class="user-ico clearfix" data-toggle="dropdown">
                                    <img width="36" src="./images/gravatar.jpg" alt="">
                                    <span>Horia Simon</span>
                                    <i class="glyph-icon icon-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu float-right">
                                    <li>
                                        <a href="javascript:;" title="">
                                            <i class="glyph-icon icon-signout font-size-13 mrg5R"></i>
                                            <span class="font-bold">Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- #page-header -->

                    <div id="page-breadcrumb-wrapper">
                        <!-- 面包屑 -->
                        <div id="page-breadcrumb">

                            <!-- <a href="javascript:;" title="Dashboard">
                            <i class="glyph-icon icon-dashboard"></i> 主页
                        </a>
                        <a href="javascript:;" title="Elements">
                            <i class="glyph-icon icon-laptop"></i> Elements
                        </a> -->
                            <span class="current">
                                <i class="glyph-icon icon-dashboard"></i> 账号管理
                        </span>
                        </div>

                    </div>

                    <!-- 内容 -->
                    <div id="page-content">
                        <h3>
                            账号管理
                        </h3>
                        <div class="example-box">
                            <div class="col-md-3 column-sort ui-sortable">
                                <div class="content-box mrg15B" style="position: relative; left: 0px; top: 0px;">
                                    <h3 class="content-box-header primary-bg">
                                        <span>部门</span>
                                    </h3>
                                    <div class="nav-list">
                                        <ul v-for="item in Department">
                                            <li v-if="item.children">
                                                <a href="#" v-on:click="toggleChildren(item)">
                                                    <i class="glyph-icon icon-home"></i>
                                                    <label>{{item.Department_Name}}</label>
                                                </a>
                                                <ul v-for="child1 in item.children" v-show="item.expanded">
                                                    <li v-if="child1.children">
                                                        <div v-on:click="getAccountInfor(child1.Department_Id)">
                                                            <a href="#" style="padding-left: 30px;" v-on:click="toggleChildren(child1)">
                                                                <i class=" glyph-icon icon-users "></i>
                                                                <label>{{child1.Department_Name}}</label>
                                                            </a>
                                                        </div>
                                                        <ul v-for="child2 in child1.children" v-show="child1.expanded">
                                                            <li v-if="child2.children">
                                                                <div v-on:click="getAccountInfor(child2.Department_Id)">
                                                                    <a href="#" style="padding-left: 50px;" v-on:click="toggleChildren(child2)">
                                                                        <i class="glyph-icon icon-home"></i>
                                                                        <label>{{child2.Department_Name}}</label>
                                                                    </a>
                                                                </div>
                                                                <ul v-for="child3 in child2.children" v-show="child2.expanded">
                                                                    <li v-if="child3.children">
                                                                        <div v-on:click="getAccountInfor(child3.Department_Id)">
                                                                            <a href="#" style="padding-left: 70px;" v-on:click="toggleChildren(child3)">
                                                                                <i class=" glyph-icon icon-users "></i>
                                                                                <label>{{child3.Department_Name}}</label>
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="example-code col-md-9">
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center"></th>
                                            <th>姓名</th>
                                            <th>账号</th>
                                            <th>电话</th>
                                            <th>上次登入时间</th>
                                            <th class="text-center">状态</th>
                                            <th class="text-center">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(accountInfor, index) in AccountInfors">
                                            <td>{{index+1}}</td>
                                            <td class="font-bold text-center">{{accountInfor.User_Name}}</td>
                                            <td class="font-bold text-center">{{accountInfor.User_No}}</td>
                                            <td class="font-bold text-center">{{accountInfor.User_Mobile}}</td>
                                            <td class="font-bold text-center">{{accountInfor.User_LoginTime}}</td>
                                            <td>
                                                <div class="label bg-orange">{{accountInfor.User_Status == 1}}</div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="javascript:;" title="" class="btn medium bg-blue" data-toggle="dropdown">
                                                        <span class="button-content">
                                                                    <i class="glyph-icon font-size-11 icon-cog"></i>
                                                                    <i class="glyph-icon font-size-11 icon-chevron-down"></i>
                                                                </span>
                                                    </a>
                                                    <ul class="dropdown-menu float-right">
                                                        <li>
                                                            <a href="javascript:;" title="">
                                                                <i class="glyph-icon icon-edit mrg5R"></i> 编辑
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" title="" v-on:click="resetPwd(accountInfor.User_Id, 888888)">
                                                                <i class="glyph-icon icon-calendar mrg5R"></i> 重置密码
                                                            </a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="javascript:;" class="font-red" title="">
                                                                <i class="glyph-icon icon-remove mrg5R"></i> 删除
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- #page-content -->
                </div>
                <!-- #page-main -->
            </div>
            <!-- #page-main-wrapper -->
        </div>
    </div>
    <!-- #page-wrapper -->
    <% include ../../../../../views/all_js %>
        <script src='./common/web/controller/ctrlAccountMge.js'></script>
        <% include ../../../../../views/copyright %>
</body>

</html>